@import './base.css';

.text-btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 0.5rem;
    color: #606266;
}

.text-btn:hover {
    color: dodgerblue;
}